/* .main {
  display: flex;
  justify-content: center;
  align-items: center;

} */

ul> li {
  list-style-type: none;
  margin: 2rem;
  font-weight: bolder;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin: 5rem;

}

/* Style the product image */
.product-card img {
  width: 100%;
  height: auto;
}

/* Style the product details */
.product-details {
  padding: 15px;
}

.product-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-description {
  font-size: 2rem;
  color: #555;
  margin-bottom: 10px;
}

.product-price {
  font-size: 2rem;
  color: #007bff;
  margin-bottom: 2rem;
}

/* Add a hover effect */
.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Add some spacing between product cards */
.product-card + .product-card {
  margin-left: 20px;
}

.new,
.old {
  margin-top: 2rem;
  background-color: rgb(78, 115, 22);
  padding: 1rem;
  border-radius: 2rem;
  color: white;
  font-weight: bolder;
}

.old {
  background-color: red;
}